# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore environment variable files
*.env

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore compiled files
*.so
*.o
*.a
*.out

# Ignore directories for IDEs
.idea/
.vscode/

# Ignore other unnecessary files
node_modules/
dist/
build/
temp/